body {
    background-image: url('https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjB1eqP59fgAhUEnZ4KHeKDDSkQjRx6BAgBEAU&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F485403666076620068%2F&psig=AOvVaw02KWYCiggQpazi468iV4TT&ust=1551215749095238')
}

h1 {
   color: hotpink;
   background-color: green;
}



