.yolo {

    width: 100%;
    height: auto;
    background-image: url('img/twilight-background.png');
    background-size: cover;
    background: red;
}

h1 {
   color: hotpink;
   background-color: green;
}



